body {
    --red: #e50914;
    --light-red: #fddddd;
    --gray: linear-gradient(to right, #F7925E, #E6C7EB);;
    --black: #000000;
  
    font-family: "Open Sans", sans-serif !important;
    background-color: white;
    color: var(--black);
    margin: 0px !important;
    width: 240px;
  }
  
  .container {
    padding: 15px 10px 15px 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    background-image: var(--gray);
    color: var(--blakc);
    font-weight: 600;
    font-size: 14px;
    word-spacing: 5px;
  }
  
  .input-info {
    padding: 6px 0px 6px 0px;
  }
  
  input {
    border: solid 1px var(--black);
    border-radius: 5px;
    padding: 6px;
    width: 80%;
  }
  
  input:hover,
  input:active,
  input:focus {
    border: solid 1px var(--red);
    outline: none;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input:invalid {
    border-color: var(--red);
    background-color: var(--light-red);
  }
  
  button {
    margin-top: 15px;
    background-image: var(--gray);
    color: var(--black);
    padding: 6px;
    border: 1px solid var(--black);
    border-radius: 5px;
  }
  
  button:hover,
  button:active,
  button:focus {
    outline: none;
    background-color: var(--red);
    color: var(--black);
  }
  
  .footer {
    background-image: var(--gray);
    margin-top: 8px;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .footer a {
    color: var(--black);
    text-decoration: none;
  }
  
  .footer a:hover,
  a:focus,
  a:active {
    color: var(--red);
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: -10%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-image: linear-gradient(to right, #F7925E, #E6C7EB);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .togglebody {
      padding-left:5%;
      height: 40px;
  }
  
  .togglename {
      margin-top: 100px;
      padding-top: 100px;
  }

  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -7px;
  }

  .shadow-circle{
    /* border: 2px solid rgb(91, 91, 91); */
    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
    box-shadow: -1px -1px -1px -1px rgb(207, 207, 207);
    /* border-radius: 50%; */
}

  .joy {
    background-color: #F9E458;
  }

  .surprise{
    background-color: #59CCFA;
  }

  .anger {
    background-color: #FA5959;
  }

  .fear {
    background-color: #039953;
  }

  .sadness {
    background-color: #5E7DFF;
  }

  .neutral {
    background-color: #FFCABD;
  }

  .disgust{
    background-color: #EA5AF1;
  }

  .legend {
      margin:auto;
      text-align: left;
      padding-left: 35%;
  }

  .expressions {
    margin:auto;
    text-align: center;
  }
  